    <!-- Category Header -->
    <section class="bg-gray-50 py-12 sm:py-20 lg:py-24">
      <!-- Conatiner -->
      <div
        class="mx-auto max-w-xl px-4 sm:px-12 md:max-w-3xl lg:max-w-screen-xl lg:px-8"
      >
        <div
          class="flex w-full flex-col items-center md:flex-row md:justify-between"
        >
          <!-- Category -->
          <div
            class="order-2 mt-8 flex flex-col items-center md:order-1 md:mt-0 md:flex-row"
          >
            <!-- Category Image -->
            <div class="flex-shrink-0">
              <div class="relative h-[100px] w-[100px] rounded-2xl bg-gray-100">
                <img
                  src="{{ site.url }}{{ page.image }}"
                  alt="{{ page.category | capitalize }}"
                  class="h-full w-full rounded-2xl object-cover object-center"
                />
                <span
                  class="absolute inset-0 rounded-2xl shadow-inner"
                  aria-hidden="true"
                />
              </div>
            </div>

            <div class="mt-6 text-center md:ml-5 md:mt-0 md:text-left">
              <p class="text-xs uppercase tracking-widest text-red-700">
                Recent in
              </p>
              <h1
                class="mt-1.5 text-3xl font-medium tracking-normal text-gray-900 sm:text-4xl md:tracking-tight lg:text-5xl lg:leading-tight"
              >
                {{ page.category | capitalize }}
              </h1>
            </div>
          </div>

          <!-- Breadcrumb -->
          <div class="order-1 md:order-2">
            <nav
              aria-label="breadcrumb"
              class="flex items-center space-x-1.5 text-[15px] sm:space-x-4"
            >
              <span>
                <a
                  href="{{ site.url }}"
                  alt="{{ post.url | prepend: site.baseurl }}"
                  class="group flex items-center text-gray-500 no-underline transition duration-300 ease-in-out hover:text-gray-900 hover:no-underline"
                >
                  <!-- Heroicon name: solid/home -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mr-2 h-[1.125rem] w-[1.125rem] flex-shrink-0 text-gray-400 transition duration-300 ease-in-out group-hover:text-gray-500"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                    />
                  </svg>

                  Breelabs
                </a>
              </span>

              <span class="text-gray-400">
                <!-- Heroicon name: solid/chevron-right -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 text-gray-400"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </span>

              <span class="text-red-700">{{ page.category | capitalize }}</span>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <!-- Primary Feed -->
    <section
      class="relative mx-auto max-w-xl px-5 py-12 sm:px-12 sm:py-16 md:max-w-3xl lg:max-w-screen-xl lg:px-8 lg:py-20"
    >
      <div class="w-full lg:grid lg:grid-cols-3 lg:gap-8 xl:gap-12">
        <!-- Articles -->
        <div class="col-span-2">
        
        {% if site.categories[page.category] %}
        {% for post in site.categories[page.category] limit: 5 %}
        
        
          <!-- 1st Article -->
          <article class="md:grid md:grid-cols-4 md:gap-8">
            <!-- Image -->
            <div class="md:col-span-1">
              <a
                href="{{ post.url | prepend: site.baseurl }}"
                alt="{{ post.url | prepend: site.baseurl }}"
                class="group aspect-h-9 aspect-w-16 relative z-10 block animate-pulse overflow-hidden rounded-2xl bg-gray-50 md:aspect-h-1 md:aspect-w-1"
              >
                <img
                  data-src="{{ site.site_url }}{{ post.thumbnail }}"
                  alt="{{ post.url | prepend: site.baseurl }}"
                  class="lazy rounded-2xl object-cover object-center opacity-0 transition duration-300 ease-in-out group-hover:scale-110"
                />
              </a>
            </div>

            <!-- Content -->
            <div
              class="relative mt-6 flex flex-col flex-wrap md:col-span-3 md:mt-0"
            >
              <div
                class="mb-8 box-border flex w-full flex-1 flex-col justify-between border-b-2 border-gray-100 px-6 pb-8 md:px-0"
              >
                <div>
                
                {% for category in post.categories limit:1 %}
                
                  <a
                    href="/blog/category/{{ category }}"
                    alt="{{ post.url | prepend: site.baseurl }}"
                    class="transition-color relative text-tiny font-medium uppercase tracking-widest text-red-700 duration-300 ease-in-out hover:text-red-600"
                  >
                    {{ category }}
                  </a>
				{% if forloop.last != true %} {% endif %} {% endfor %}
                  <h3
                    class="mt-2.5 text-xl font-medium leading-tight text-gray-900 decoration-gray-800 decoration-2 transition duration-300 ease-in-out hover:underline sm:text-2xl lg:text-xl xl:text-2xl"
                  >
                    <a href="{{ post.url | prepend: site.baseurl }}" alt="{{ post.url | prepend: site.baseurl }}">
                      <span class="absolute inset-0" aria-hidden="true"></span>
                      {{ post.title }}
                    </a>
                  </h3>

                  <p
                    class="mt-3.5 block text-base leading-relaxed text-gray-500"
                  >
                    {{ post.content | strip_html | truncatewords: 30 }}
                  </p>
                </div>

                <!-- Article Footer Info -->
                <footer class="mt-5 flex items-center sm:mt-7">
                  <!-- Author Image -->
                  <a
                    href="#"
                    alt="{{ post.url | prepend: site.baseurl }}"
                    class="relative mr-3 animate-pulse rounded-lg bg-gray-50"
                  >
                    <img
                      class="lazy h-7 w-7 flex-shrink-0 rounded-lg object-cover object-center opacity-0 transition duration-300 ease-in-out lg:h-8 lg:w-8"
                      data-src="{{ site.url }}/images/jon.jpg"
                      alt="Author 01"
                    />
                  </a>

                  <div class="flex items-center text-sm lg:text-[15px]">
                    <span class="hidden text-gray-500 sm:inline-block"
                      >By&nbsp;</span
                    >
                    <a
                      class="relative font-medium text-gray-700 hover:underline"
                      href="#"
                      alt="{{ post.url | prepend: site.baseurl }}"
                      >Jon Brown</a
                    >

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="ml-3 h-[18px] w-[18px] text-gray-400"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                      ></path>
                    </svg>
                    <span class="ml-1 text-gray-500">{{ post.date | date: "%b %-d, %Y" }}</span>

                  </div>
                </footer>
              </div>
            </div>
          </article>
          
          
                     {% if forloop.last %}
               
            	{% endif %}
            	
        	{% endfor %}
        
        {% endif %}

        </div>

        <!-- Sidebar -->
        <div
          class="mx-auto mt-12 w-full max-w-xl sm:mt-16 md:max-w-3xl lg:col-span-1 lg:mt-0 lg:max-w-none"
        >
          <!-- Trending Articles -->
          <div class="w-full rounded-2xl bg-gray-50 p-5 sm:p-8">
            <h3
              class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']"
            >
              Trending
            </h3>

            <!-- Articles -->
            <div class="space-y-6 pt-6 sm:space-y-5 lg:space-y-6 xl:space-y-5">
            
            {% assign posts = site.categories.tips | where_exp:"post", "post.url != page.url" | sample:4 %}
            {% for post in posts %}
   			 {% if post.url %}
    
    
              <!-- 1st Article -->
              <article class="flex space-x-4 sm:space-x-6 lg:space-x-4">
                <!-- Image -->
                <a
                  href="{{ post.url | prepend: site.baseurl }}"
                  alt="{{ post.url | prepend: site.baseurl }}"
                  class="group relative z-10 animate-pulse overflow-hidden rounded-2xl bg-gray-100"
                >
                  <img
                    data-src="{{ site.site_url }}{{ post.thumbnail }}"
                    alt="{{ post.url | prepend: site.baseurl }}"
                    class="lazy h-24 w-24 rounded-2xl object-cover object-center opacity-0 transition duration-300 ease-in-out group-hover:scale-110 sm:h-28 sm:w-28 lg:h-20 lg:w-20 xl:h-24 xl:w-24"
                  />
                </a>

                <!-- Content -->
                <div class="w-2/3">
                  <div
                    class="flex h-full w-full flex-1 flex-col justify-center"
                  >
                    <div>
                      <a
                        href="{{ post.url | prepend: site.baseurl }}"
                        alt="{{ post.url | prepend: site.baseurl }}"
                        class="text-md font-medium leading-snug tracking-normal text-gray-900 decoration-gray-800 decoration-2 transition duration-300 ease-in-out hover:underline"
                      >
                        {{ post.title }}
                      </a>
                    </div>

                    <!-- Author -->
                    <div class="mt-2 flex items-center justify-between">
                      <!-- Author meta -->
                      <div class="flex items-center justify-center">
                        <div class="text-sm">
                          <span class="text-gray-500">By </span>
                          <a
                            class="font-medium text-gray-700 hover:underline"
                            href="#"
                            alt="{{ post.url | prepend: site.baseurl }}"
                            >Jon Brown</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              
              
              {% endif %}
 			 {% endfor %}

            </div>
          </div>

          <!-- Popular Tags -->
          <div class="mt-8 w-full rounded-2xl bg-gray-50 p-5 sm:p-8">
            <h3
              class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']"
            >
              Popular tags
            </h3>

            <!-- Tags -->
            <div class="pt-5">
              <ul class="-m-1 flex flex-wrap justify-start">
              
               {% for category in site.categories limit:10 %}
               	{% capture category_name %}{{ category | first }}{% endcapture %}
                <li>
                  <a href="/blog/category/{{ category_name }}" alt="{{ post.url | prepend: site.baseurl }}">
                    <span
                      class="m-1 inline-flex items-center rounded-full border border-gray-300/70 bg-transparent px-4 py-1 text-sm font-medium text-gray-800 transition duration-300 ease-in-out hover:text-red-700 sm:px-4 sm:py-1.5"
                    >
                      {{ category_name | capitalize }}
                    </span>
                  </a>
                </li>
                
              {% endfor %}
                
              </ul>
            </div>
          </div>

          <!-- Social Media Links -->
          <div class="mt-8 w-full rounded-2xl bg-gray-50 p-5 sm:p-8">
            <h3
              class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']"
            >
              Follow us
            </h3>

            <!-- Links -->
            <div class="pt-5">
              <div class="overflow-hidden">

                <!-- Facebook -->
                <a
                  href="https://www.facebook.com/breelabs"
                  alt="{{ post.url | prepend: site.baseurl }}"
                  class="group flex w-full items-center justify-between"
                >
                  <div class="flex items-center">
                    <div>
                      <span
                        class="flex h-9 w-9 items-center justify-center rounded-full border border-gray-300/70 bg-transparent transition duration-300 ease-in-out"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-3.5 w-3.5 transform text-gray-700 transition duration-300 ease-in-out group-hover:scale-110 group-hover:text-red-700"
                          viewBox="0 0 512 512"
                          fill="currentColor"
                        >
                          <path
                            xmlns="http://www.w3.org/2000/svg"
                            d="M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z"
                            fill-rule="evenodd"
                          />
                        </svg>
                      </span>
                    </div>

                    <div class="relative col-span-3 flex flex-col flex-wrap">
                      <div
                        class="box-border flex w-full flex-1 flex-col justify-between px-6 md:px-0"
                      >
                        <div
                          class="transition-color relative z-10 ml-3 text-base font-medium text-gray-700 duration-300 ease-in-out group-hover:text-red-600"
                        >
                          Facebook
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                    <!-- heroicon name: solid/arrow-sm-right -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="mx-2 h-5 w-5 text-red-400 transition duration-300 ease-in-out group-hover:translate-x-1.5 group-hover:text-red-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </div>
                </a>


                <hr
                  class="my-2.5 ml-13 w-full border-t border-dashed border-gray-300/70"
                />

                <!-- Linkedin -->
                <a
                  href="https://www.linkedin.com/company/breelabs/"
                  class="group flex w-full items-center justify-between"
                  alt="{{ post.url | prepend: site.baseurl }}"
                >
                  <div class="flex items-center">
                    <div>
                      <span
                        class="flex h-9 w-9 items-center justify-center rounded-full border border-gray-300/70 bg-transparent transition duration-300 ease-in-out"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-3.5 w-3.5 transform text-gray-700 transition duration-300 ease-in-out group-hover:scale-110 group-hover:text-red-700"
                          viewBox="0 0 512 512"
                          fill="currentColor"
                        >
                          <path
                            xmlns="http://www.w3.org/2000/svg"
                            d="M444.17 32H70.28C49.85 32 32 46.7 32 66.89v374.72C32 461.91 49.85 480 70.28 480h373.78c20.54 0 35.94-18.21 35.94-38.39V66.89C480.12 46.7 464.6 32 444.17 32zm-273.3 373.43h-64.18V205.88h64.18zM141 175.54h-.46c-20.54 0-33.84-15.29-33.84-34.43 0-19.49 13.65-34.42 34.65-34.42s33.85 14.82 34.31 34.42c-.01 19.14-13.31 34.43-34.66 34.43zm264.43 229.89h-64.18V296.32c0-26.14-9.34-44-32.56-44-17.74 0-28.24 12-32.91 23.69-1.75 4.2-2.22 9.92-2.22 15.76v113.66h-64.18V205.88h64.18v27.77c9.34-13.3 23.93-32.44 57.88-32.44 42.13 0 74 27.77 74 87.64z"
                          />
                        </svg>
                      </span>
                    </div>

                    <div class="relative col-span-3 flex flex-col flex-wrap">
                      <div
                        class="box-border flex w-full flex-1 flex-col justify-between px-6 md:px-0"
                      >
                        <div
                          class="transition-color relative z-10 ml-3 text-base font-medium text-gray-700 duration-300 ease-in-out group-hover:text-red-600"
                        >
                          Linkedin
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                    <!-- heroicon name: solid/arrow-sm-right -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="mx-2 h-5 w-5 text-red-400 transition duration-300 ease-in-out group-hover:translate-x-1.5 group-hover:text-red-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>