    <section class="bg-gray-50 pt-12 sm:pt-16 lg:pt-20">
      <div
        class="mx-auto max-w-2xl px-4 sm:px-6 lg:flex lg:max-w-screen-2xl lg:items-start lg:px-8"
      >
 {% for post in site.posts %}
       {% if post.featuredPost == true %}


        <!-- Featured Article-->
        <article class="relative lg:sticky lg:top-8 lg:w-1/2">
          <!-- Image -->
          <a
            href="{{ post.url | prepend: site.baseurl }}"
            alt="{{ post.url | prepend: site.baseurl }}"
            class="group aspect-h-9 aspect-w-16 relative z-10 block animate-pulse overflow-hidden rounded-2xl bg-gray-100"
          >
            <img
              class="lazy rounded-2xl object-cover object-center opacity-0 transition duration-300 ease-in-out group-hover:scale-110"
              alt="{{ post.url | prepend: site.baseurl }}"
              data-src="{{ site.site_url }}{{ post.thumbnail }}"
            />
          </a>
		 {% for category in post.categories limit:1 %}
		 
          <!-- Content -->
          <div class="mt-6 md:align-middle">
            <a
              href="/blog/category/{{ category }}"
              alt="{{ post.url | prepend: site.baseurl }}"
              class="transition-color relative text-sm font-medium uppercase tracking-widest text-red-700 duration-300 ease-in-out hover:text-red-600"
              >{{ category }}</a
            >
            
            {% if forloop.last != true %} {% endif %} {% endfor %}
            
            <a href="{{ post.url | prepend: site.baseurl }}" class="group mt-3 block" alt="{{ post.url | prepend: site.baseurl }}">
              <h2
                class="text-3xl font-medium tracking-normal text-gray-900 decoration-gray-800 decoration-3 transition duration-300 ease-in-out group-hover:underline md:tracking-tight lg:text-4xl lg:leading-tight"
              >
                {{ post.title }}
              </h2>
              <div>
                <p class="mt-4 text-base leading-loose text-gray-600" alt="{{ post.url | prepend: site.baseurl }}">
                  {{ post.content | strip_html | truncatewords: 60 }}
                </p>
              </div>
            </a>

            <!-- Author -->
            <div class="mt-4 flex items-center sm:mt-8">
              <a
                href="#"
                alt="{{ post.url | prepend: site.baseurl }}"
                class="h-10 w-10 animate-pulse rounded-xl bg-gray-50"
              >
                <img
                  data-src="{{ site.site_url }}/images/jon.jpg"
                  alt="{{ post.url | prepend: site.baseurl }}"
                  class="lazy h-full w-full rounded-xl object-cover object-center opacity-0 transition duration-300 ease-in-out"
                />
              </a>
              <div class="ml-3">
                <a
                  href="#"
                  alt="{{ post.url | prepend: site.baseurl }}"
                  class="text-sm font-medium text-gray-800 hover:underline"
                >
                  Jon Brown
                </a>
                <p class="text-sm text-gray-500">
                  <time datetime="{{ post.date | date: "%b %-d, %Y" }}">{{ post.date | date: "%b %-d, %Y" }}</time>
                </p>
              </div>
            </div>
          </div>
        </article>
        {% endif %}
 {% endfor %}

        <!-- Recent Articles-->
        <div class="mt-12 sm:mt-16 lg:ml-12 lg:mt-0 lg:w-1/2 xl:ml-16">
          <h3
            class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']"
          >
            Recent stories
          </h3>

          <!-- Articles Container -->
          <div class="grid lg:grid-cols-2 lg:gap-x-5 xl:grid-cols-1">
          
          {% for post in site.posts limit:6 %}
          
          
            <!-- 1st Article -->
            <article class="py-8 sm:flex lg:flex-col xl:flex-row xl:items-center">
              <!-- Image -->
              <a
                href="{{ post.url | prepend: site.baseurl }}"
                class="order-2 w-full sm:w-2/5 lg:order-1 lg:w-full xl:w-2/5"
              >
                <div
                  class="group aspect-h-9 aspect-w-16 relative z-10 animate-pulse overflow-hidden rounded-2xl bg-gray-100"
                >
                  <img
                    data-src="{{ site.site_url }}{{ post.thumbnail }}"
                    alt="{{ post.url | prepend: site.baseurl }}"
                    class="lazy rounded-2xl object-cover object-center opacity-0 transition duration-300 ease-in-out group-hover:scale-110"
                  />
                </div>
              </a>

              <!-- Content -->
              <div
                class="order-1 mt-5 w-full px-2 sm:mt-0 sm:max-w-sm sm:pl-0 sm:pr-5 lg:order-2 lg:mt-4 xl:ml-5 xl:mt-0 xl:flex-1"
              >
              {% for category in post.categories limit:1 %}
              
                <a
                  href="/blog/category/{{ category }}"
                  alt="{{ post.url | prepend: site.baseurl }}"
                  class="transition-color text-xs font-medium uppercase tracking-widest text-red-700 duration-300 ease-in-out hover:text-red-600"
                >
                  {{ category }}
                </a>
                
                {% if forloop.last != true %} {% endif %} {% endfor %}

                <a href="{{ post.url | prepend: site.baseurl }}" alt="{{ post.url | prepend: site.baseurl }}">
                  <h3
                    class="mt-2 text-xl font-medium leading-normal tracking-normal text-gray-900 decoration-gray-800 decoration-2 transition duration-300 ease-in-out hover:underline"
                  >
                    {{ post.title }}
                  </h3>
                </a>

                <!-- Author -->
                <div class="mt-4 flex items-center justify-between">
                  <!-- Author meta -->
                  <div class="flex items-center justify-center">
                    <a href="#" class="mr-3 rounded-lg bg-gray-50" alt="{{ post.url | prepend: site.baseurl }}">
                      <img
                        class="lazy h-6 w-6 flex-shrink-0 rounded-lg object-cover object-center opacity-0 transition duration-300 ease-in-out"
                        alt="{{ post.url | prepend: site.baseurl }}"
                        data-src="{{ site.site_url }}/images/jon.jpg"
                        alt="Jon Brown"
                      />
                    </a>
                    <div class="text-sm">
                      <span class="text-gray-500">By </span>
                      <a
                        class="font-medium text-gray-700 hover:underline"
                        href="#"
                        alt="{{ post.url | prepend: site.baseurl }}"
                        >Jon Brown</a
                      >
                      <span class="text-gray-500 lg:hidden xl:inline-block">
                        · {{ post.date | date: "%b %-d, %Y" }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </article>
	
 {% endfor %}
 
 
          </div>
        </div>
      </div>
    </section>