    <!-- Feed -->
    <section
      class="relative mx-auto max-w-screen-xl py-12 md:py-16 lg:px-8 lg:py-20"
    >
      <div class="w-full lg:grid lg:grid-cols-3 lg:gap-8">
        <!-- Feed Articles Container -->
        <div class="col-span-2">
          
          
          <!-- Articles-->
          
            
          
          <div
            class="mx-auto mt-0 grid max-w-xl gap-4 px-4 sm:px-6 md:max-w-3xl md:grid-cols-2 md:px-8 lg:max-w-none lg:px-0"
          >
          
          {% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:4 %}
          {% for post in posts %}
                    
            <!-- 1st Article -->
            <article
              class="group relative flex flex-col flex-wrap rounded-2xl transition duration-300 ease-in-out hover:shadow-xl"
            >
              <!-- Image -->
              <div
                class="aspect-h-1 aspect-w-2 relative z-10 w-full animate-pulse overflow-hidden rounded-t-2xl bg-gray-50"
              >
                <a href="{{ post.url | prepend: site.baseurl }}">
                  <img
                    class="lazy absolute inset-0 h-full w-full rounded-t-2xl object-cover object-center opacity-0 transition duration-300 ease-in-out group-hover:scale-110"
                    data-src="{{ site.site_url }}{{ post.thumbnail }}"
                  />
                </a>
              </div>

              <!-- Content -->
              <div
                class="box-border flex w-full flex-1 flex-col justify-between rounded-b-2xl border-b-2 border-l-2 border-r-2 border-gray-100 bg-white p-6 transition duration-300 ease-in-out group-hover:border-transparent xl:p-7"
              >
                <div>
                
                {% for category in post.categories limit:1 %}
                
                  <a
                    href="/blog/category/{{ category }}"
                    class="transition-color relative text-tiny font-medium uppercase tracking-widest text-red-700 duration-300 ease-in-out hover:text-red-600"
                  >
                    {{ category }}
                  </a>
                  
                  {% if forloop.last != true %} {% endif %} {% endfor %}
				
                  <h3
                    class="mt-3 text-xl font-medium leading-tight text-gray-900 decoration-gray-800 decoration-2 transition duration-300 ease-in-out hover:underline sm:text-2xl lg:text-xl xl:text-2xl"
                  >
                    <a href="{{ post.url | prepend: site.baseurl }}">
                      <span class="absolute inset-0" aria-hidden="true"></span>
                      {{ post.title }}
                      <span class="sr-only"
                        >{{ post.title }}</span
                      >
                    </a>
                  </h3>

                  <p class="mt-4 block text-base leading-relaxed text-gray-500">
                    {{ post.content | strip_html | truncatewords: 60 }}
                  </p>
                </div>

                <!-- Author -->
                <div class="mt-5 flex items-center sm:mt-6">
                  <a
                    href="#"
                    class="relative h-10 w-10 animate-pulse rounded-xl bg-gray-50"
                  >
                    <img
                      data-src="{{ site.site_url }}/images/jon.jpg"
                      class="lazy h-full w-full rounded-xl object-cover object-center opacity-0 transition duration-300 ease-in-out"
                    />
                  </a>
                  <div class="ml-3">
                    <a
                      href="#"
                      class="relative text-sm font-medium text-gray-700 hover:underline"
                    >
                     Jon Brown
                    </a>
                    <p class="text-sm text-gray-500">
                      <time datetime="{{ post.date | date: "%b %-d, %Y" }}">{{ post.date | date: "%b %-d, %Y" }}</time>
                    </p>
                  </div>
                </div>
              </div>
            </article>

			 {% endfor %}
			 
			 
          </div>
        </div>

        <!-- Sidebar -->
        <div
          class="mx-auto mt-12 w-full max-w-xl px-4 sm:mt-16 sm:px-6 md:max-w-3xl md:px-8 lg:col-span-1 lg:mt-0 lg:max-w-none lg:px-0"
        >
          <!-- Trending Articles -->
          <div class="w-full rounded-2xl bg-gray-50 p-5 sm:p-8">
            <h3
              class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']"
            >
              Trending
            </h3>

            <!-- Articles -->
            <div class="space-y-6 pt-6 sm:space-y-5 lg:space-y-6 xl:space-y-5">
            
            {% assign posts = site.categories.tips | where_exp:"post", "post.url != page.url" | sample:4 %}
            {% for post in posts %}
   			 {% if post.url %}
    
    
              <!-- 1st Article -->
              <article class="flex space-x-4 sm:space-x-6 lg:space-x-4">
                <!-- Image -->
                <a
                  href="{{ post.url | prepend: site.baseurl }}"
                  class="group relative z-10 animate-pulse overflow-hidden rounded-2xl bg-gray-100"
                >
                  <img
                    data-src="{{ site.site_url }}{{ post.thumbnail }}"
                    class="lazy h-24 w-24 rounded-2xl object-cover object-center opacity-0 transition duration-300 ease-in-out group-hover:scale-110 sm:h-28 sm:w-28 lg:h-20 lg:w-20 xl:h-24 xl:w-24"
                  />
                </a>

                <!-- Content -->
                <div class="w-2/3">
                  <div
                    class="flex h-full w-full flex-1 flex-col justify-center"
                  >
                    <div>
                      <a
                        href="{{ post.url | prepend: site.baseurl }}"
                        class="text-md font-medium leading-snug tracking-normal text-gray-900 decoration-gray-800 decoration-2 transition duration-300 ease-in-out hover:underline"
                      >
                        {{ post.title }}
                      </a>
                    </div>

                    <!-- Author -->
                    <div class="mt-2 flex items-center justify-between">
                      <!-- Author meta -->
                      <div class="flex items-center justify-center">
                        <div class="text-sm">
                          <span class="text-gray-500">By </span>
                          <a
                            class="font-medium text-gray-700 hover:underline"
                            href="#"
                            >Jon Brown</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              
              
              {% endif %}
 			 {% endfor %}

            </div>
          </div>

          <!-- Popular Tags -->
          <div class="mt-8 w-full rounded-2xl bg-gray-50 p-5 sm:p-8">
            <h3
              class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']"
            >
              Popular tags
            </h3>

            <!-- Tags -->
            <div class="pt-5">
              <ul class="-m-1 flex flex-wrap justify-start">
              
               {% for category in site.categories limit:10 %}
               	{% capture category_name %}{{ category | first }}{% endcapture %}
                <li>
                  <a href="/blog/category/{{ category_name }}">
                    <span
                      class="m-1 inline-flex items-center rounded-full border border-gray-300/70 bg-transparent px-4 py-1 text-sm font-medium text-gray-800 transition duration-300 ease-in-out hover:text-red-700 sm:px-4 sm:py-1.5"
                    >
                      {{ category_name | capitalize }}
                    </span>
                  </a>
                </li>
                
              {% endfor %}
                
              </ul>
            </div>
          </div>

          <!-- Social Media Links -->
          <div class="mt-8 w-full rounded-2xl bg-gray-50 p-5 sm:p-8">
            <h3
              class="relative border-b border-gray-300/70 pb-2.5 text-2xl font-medium text-gray-900 before:absolute before:-bottom-px before:left-0 before:h-px before:w-24 before:bg-red-600 before:content-['']"
            >
              Follow us
            </h3>

            <!-- Links -->
            <div class="pt-5">
              <div class="overflow-hidden">

                <!-- Facebook -->
                <a
                  href="https://www.facebook.com/breelabs"
                  class="group flex w-full items-center justify-between"
                >
                  <div class="flex items-center">
                    <div>
                      <span
                        class="flex h-9 w-9 items-center justify-center rounded-full border border-gray-300/70 bg-transparent transition duration-300 ease-in-out"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-3.5 w-3.5 transform text-gray-700 transition duration-300 ease-in-out group-hover:scale-110 group-hover:text-red-700"
                          viewBox="0 0 512 512"
                          fill="currentColor"
                        >
                          <path
                            xmlns="http://www.w3.org/2000/svg"
                            d="M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z"
                            fill-rule="evenodd"
                          />
                        </svg>
                      </span>
                    </div>

                    <div class="relative col-span-3 flex flex-col flex-wrap">
                      <div
                        class="box-border flex w-full flex-1 flex-col justify-between px-6 md:px-0"
                      >
                        <div
                          class="transition-color relative z-10 ml-3 text-base font-medium text-gray-700 duration-300 ease-in-out group-hover:text-red-600"
                        >
                          Facebook
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                    <!-- heroicon name: solid/arrow-sm-right -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="mx-2 h-5 w-5 text-red-400 transition duration-300 ease-in-out group-hover:translate-x-1.5 group-hover:text-red-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </div>
                </a>


                <hr
                  class="my-2.5 ml-13 w-full border-t border-dashed border-gray-300/70"
                />

                <!-- Linkedin -->
                <a
                  href="https://www.linkedin.com/company/breelabs/"
                  class="group flex w-full items-center justify-between"
                >
                  <div class="flex items-center">
                    <div>
                      <span
                        class="flex h-9 w-9 items-center justify-center rounded-full border border-gray-300/70 bg-transparent transition duration-300 ease-in-out"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-3.5 w-3.5 transform text-gray-700 transition duration-300 ease-in-out group-hover:scale-110 group-hover:text-red-700"
                          viewBox="0 0 512 512"
                          fill="currentColor"
                        >
                          <path
                            xmlns="http://www.w3.org/2000/svg"
                            d="M444.17 32H70.28C49.85 32 32 46.7 32 66.89v374.72C32 461.91 49.85 480 70.28 480h373.78c20.54 0 35.94-18.21 35.94-38.39V66.89C480.12 46.7 464.6 32 444.17 32zm-273.3 373.43h-64.18V205.88h64.18zM141 175.54h-.46c-20.54 0-33.84-15.29-33.84-34.43 0-19.49 13.65-34.42 34.65-34.42s33.85 14.82 34.31 34.42c-.01 19.14-13.31 34.43-34.66 34.43zm264.43 229.89h-64.18V296.32c0-26.14-9.34-44-32.56-44-17.74 0-28.24 12-32.91 23.69-1.75 4.2-2.22 9.92-2.22 15.76v113.66h-64.18V205.88h64.18v27.77c9.34-13.3 23.93-32.44 57.88-32.44 42.13 0 74 27.77 74 87.64z"
                          />
                        </svg>
                      </span>
                    </div>

                    <div class="relative col-span-3 flex flex-col flex-wrap">
                      <div
                        class="box-border flex w-full flex-1 flex-col justify-between px-6 md:px-0"
                      >
                        <div
                          class="transition-color relative z-10 ml-3 text-base font-medium text-gray-700 duration-300 ease-in-out group-hover:text-red-600"
                        >
                          Linkedin
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                    <!-- heroicon name: solid/arrow-sm-right -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="mx-2 h-5 w-5 text-red-400 transition duration-300 ease-in-out group-hover:translate-x-1.5 group-hover:text-red-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>