<!doctype html>
<html>

{% include head.html %} 

  <body>

{% include nav.html %} 
    
{% include primary_feed.html %} 

{% include blog_current.html %} 

    <!-- Archive -->
    <section
      class="relative mx-auto max-w-xl px-5 py-12 sm:py-16 md:max-w-3xl lg:max-w-4xl lg:px-8 lg:py-24"
    >
      <!-- Articles -->
      <div class="mb-6 border-b-2 border-gray-100 pb-8 sm:mb-10 sm:pb-10">
      
      {% for post in paginator.posts %}
        <!-- 1st Article -->
        <article class="md:grid md:grid-cols-4 md:gap-8">
          <!-- Image -->
          <div class="md:col-span-1">
            <a
              href="{{ post.url | prepend: site.baseurl }}"
              class="group aspect-h-9 aspect-w-16 relative z-10 block animate-pulse overflow-hidden rounded-2xl bg-gray-50 md:aspect-h-1 md:aspect-w-1"
            >
              <img
                data-src="{{ site.site_url }}{{ post.thumbnail }}"
                class="lazy rounded-2xl object-cover object-center opacity-0 transition duration-300 ease-in-out group-hover:scale-110"
              />
            </a>
          </div>

          <!-- Content -->
          <div
            class="relative mt-6 flex flex-col flex-wrap md:col-span-3 md:mt-0"
          >
            <div
              class="mb-8 box-border flex w-full flex-1 flex-col justify-between border-b-2 border-gray-100 px-6 pb-8 md:px-0"
            >
              <div>
              
              {% for category in post.categories limit:1 %}
              
                <a
                  href="/blog/category/{{ category }}"
                  class="transition-color relative text-tiny font-medium uppercase tracking-widest text-red-700 duration-300 ease-in-out hover:text-red-600"
                >
                  {{ category }}  
                </a>
                
                {% if forloop.last != true %} {% endif %} {% endfor %}

                <h3
                  class="mt-2.5 text-xl font-medium leading-tight text-gray-900 decoration-gray-800 decoration-2 transition duration-300 ease-in-out hover:underline sm:text-2xl lg:text-xl xl:text-2xl"
                >
                  <a href="{{ post.url | prepend: site.baseurl }}">
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    {{ post.title }}
                  </a>
                </h3>

                <p class="mt-3.5 block text-base leading-relaxed text-gray-500">
                  {{ post.content | strip_html | truncatewords: 30 }}
                </p>
              </div>

              <!-- Article Footer Info -->
              <footer class="mt-5 flex items-center sm:mt-7">
                <!-- Author Image -->
                <a
                  href="#"
                  class="relative mr-3 animate-pulse rounded-lg bg-gray-50"
                >
                  <img
                    class="lazy h-7 w-7 flex-shrink-0 rounded-lg object-cover object-center opacity-0 transition duration-300 ease-in-out lg:h-8 lg:w-8"
                    data-src="{{ site.site_url }}/images/jon.jpg"
                    alt="Author 01"
                  />
                </a>

                <div class="flex items-center text-sm lg:text-[15px]">
                  <span class="hidden text-gray-500 sm:inline-block"
                    >By&nbsp;</span
                  >
                  <a
                    class="relative font-medium text-gray-700 hover:underline"
                    href="#"
                    >Jon Brown</a
                  >

                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="ml-3 h-[18px] w-[18px] text-gray-400"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                    ></path>
                  </svg>
                  <span class="ml-1 text-gray-500">{{ post.date | date: "%b %-d, %Y" }}</span>
                </div>
              </footer>
            </div>
          </div>
        </article>

	   {% endfor %}   
	   
      </div>

      <!-- Pagination-->
      <nav class="flex items-center justify-between">
        <div class="flex w-0 flex-1">
          <!-- Previous Button -->
          
          {% if paginator.total_pages > 1 %}
    
    	 {% if paginator.previous_page %}
    	 
    	 
          <a
            href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
            class="inline-flex h-12 items-center justify-center rounded-xl bg-gray-50 px-4 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700"
          >
            <!-- Heroicon name: solid/chevron-left -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="mr-2.5 h-5 w-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>

            Previous
          </a>
          
           {% else %}
           
           <a
            href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
            class="disabled inline-flex h-12 items-center justify-center rounded-xl bg-gray-50 px-4 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700"
          >
            <!-- Heroicon name: solid/chevron-left -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="mr-2.5 h-5 w-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>

            Previous
          </a>
        
        {% endif %}
        
        
        </div>
        
       <div class="hidden space-x-2.5 md:flex">
 {% for page in (1..paginator.total_pages) %}
    {% assign last_five = forloop.length | minus: 4 %}
    {% assign last_page = forloop.length %}
    {% if forloop.length > 5 %}
        {% if paginator.page <= 5 %}
            {% if forloop.index <= 5 %}
                {% if forloop.first and page == paginator.page %}
                    <span class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 bg-red-600 text-sm font-medium text-white transition duration-300 ease-in-out hover:bg-gray-100 hover:text-white">{{ page }}</span>
                {% elsif forloop.first %}
                    <a href="/blog/" class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700">1</a>
                {% elsif page == paginator.page %}
                    <span class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm bg-red-600 font-medium text-white transition duration-300 ease-in-out hover:bg-gray-100 hover:text-white">{{ page }}</span>
                {% else %}
                    <a class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
            {% else %}
                {% if paginator.page == 5 %}
                    <a class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                {% endif %}
                    <span class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700">...</span>
                    <a class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700" href="/blog/page/{{ last_page }}/">{{ last_page }}</a>
                {% break %}
            {% endif %}
        {% elsif paginator.page >= last_five %}
            {% if forloop.index >= last_five %}
                {% if forloop.index == last_five %}
                    <a class="inline-flex h-12 w-12 items-center justify-center text-base font-medium text-gray-500" href="/blog/">1</a>
                    <span class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700">...</span>
                {% if page == last_five %}
                    <a class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700" href="/blog/page/{{ page | minus: 1 }}/">{{ page | minus: 1 }}</a>
                {% endif %}
                {% if page == paginator.page %}
                    <span class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-red-600 bg-gray-50 text-sm font-medium text-white transition duration-300 ease-in-out hover:bg-gray-100 hover:text-white">{{ page }}</span>
                {% else %}
                    <a class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700" href="/blog/page/{{ page }}/">{{ page }}</a>
                {% endif %}
                {% elsif forloop.last and page == paginator.page %}
                    <span class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium bg-red-600 text-white transition duration-300 ease-in-out hover:bg-gray-100 hover:text-white">{{ page }}</span>
                {% elsif page == paginator.page %}
                    <span class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium bg-red-600 text-white transition duration-300 ease-in-out hover:bg-gray-100 hover:text-white">{{ page }}</span>
                {% else %}
                    <a class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700" href="/blog/page/{{ page }}/">{{ page }}</a>
                {% endif %}
            {% endif %}
        {% else %}
            {% if forloop.first %}
                <a class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700" href="/blog/">1</a>
            {% endif %}
            {% if forloop.index == paginator.page | minus: 2 %}
                <span class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700">...</span>
                <a class="inline-flex h-12 w-12 items-center justify-center text-base font-medium text-gray-500"" href="/blog/page/{{ page | minus: 2 }}/">{{ page | minus: 2 }}</a>
            {% endif %}
            {% if forloop.index == paginator.page | minus: 1 %}
                <a class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700" href="/blog/page/{{ page | minus: 1 }}/">{{ page | minus: 1 }}</a>
            {% endif %}
            {% if page == paginator.page %}
                <span class="inline-flex h-12 w-12 items-center justify-center bg-red-600 text-white rounded-xl bg-gray-50 text-sm font-medium text-white transition duration-300 ease-in-out hover:bg-gray-100 hover:text-white">{{ page }}</span>
            {% endif %}
            {% if forloop.index == paginator.page | plus: 1 %}
                <a class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700" href="/blog/page/{{ page | plus: 1 }}/">{{ page | plus: 1 }}</a>
            {% endif %}
            {% if forloop.index == paginator.page | plus: 2 %}
                <a class="inline-flex h-12 w-12 items-center justify-center text-base font-medium text-gray-500" href="/blog/page/{{ page | plus: 2 }}/">{{ page | plus: 2 }}</a>
                <span class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700">...</span>
            {% endif %}
            {% if forloop.last %}
                <a class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700" href="/blog/page/{{ forloop.index }}/">{{ forloop.index }}</a>
            {% endif %}
          {% endif %}
        {% else %}
        {% if page == paginator.page %}
            <span class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-red-600 text-sm font-medium text-white">{{ page }}</span>
        {% elsif page == 1 %}
            <a class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700" href="/blog/">{{ page }}</a>
        {% else %}
            <a class="inline-flex h-12 w-12 items-center justify-center rounded-xl bg-gray-50 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700" href="/blog/page/{{ page }}/">{{ page }}</a>
        {% endif %}
        {% endif %}
    {% endfor %}

</div>


        <!-- Next Button -->
        <div class="flex w-0 flex-1 justify-end">
        
        {% if paginator.next_page %}
        
          <a
            href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
            class="inline-flex h-12 items-center justify-center rounded-xl bg-gray-50 px-4 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700"
          >
            Next

            <!-- Heroicon name: solid/chevron-right -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="ml-2.5 h-5 w-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
          
          {% else %}
          
          <a
            href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
            class="disabled inline-flex h-12 items-center justify-center rounded-xl bg-gray-50 px-4 text-sm font-medium text-gray-500 transition duration-300 ease-in-out hover:bg-gray-100 hover:text-gray-700"
          >
            Next

            <!-- Heroicon name: solid/chevron-right -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="ml-2.5 h-5 w-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
          
          
           {% endif %}
    
    	  {% endif %}
        </div>
      </nav>
    </section>

{% include newsletter.html %} 

{% include footer.html %} 


  </body>
</html>